{% extends 'Teacher/base.html' %}

{% block title %}
Nhập điểm
{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/Teacher/EnterPoints.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-4 container-div">
    <h2 class="text-center">Nhập điểm cho môn {{teacher_subject}} </h2>

    <!-- Bộ lọc -->
    <form action="{{ url_for('class_filter') }}" method="POST">
        <div id="scoreboard-container">


            <h2 class="title">BẢNG ĐIỂM MÔN HỌC</h2>
            <div id="class-info">
                <!-- Lớp -->
                <p>
                    <strong>Lớp:</strong>
                    <input type="text" id="class-input" name="class-input" class="input-field"
                           placeholder="Nhập lớp (vd: 10A1)"
                           list="class-list">
                    <datalist id="class-list">
                        <option value="10A">
                        <option value="10B">
                        <option value="10C">
                        <option value="12A">
                    </datalist>
                </p>

                <!-- Học kỳ -->
                <p>
                    <strong>Học kỳ:</strong>
                    <input type="text" id="semester-input" name="semester-input" class="input-field"
                           placeholder="Nhập học kỳ (vd: 1, 2)"
                           list="semester-list">
                    <datalist id="semester-list">
                        <option value="Học kỳ 1"></option>
                        <option value="Học kỳ 2"></option>
                    </datalist>
                </p>

                <!-- Năm học -->
                <p>
                    <strong>Năm học:</strong>
                    <input type="text" id="academic-year-input" name="academic-year-input" class="input-field"
                           placeholder="Nhập năm học (vd: 2024-2025)" list="academic-year-list">
                    <datalist id="academic-year-list">
                        <option value="2022-2023">
                        <option value="2023-2024">

                    </datalist>
                </p>
                <button id="class_filter" type="submit">Lọc</button>
            </div>
    </form>

    <!-- Bảng điểm -->

    <table id="scoreboard-table">
        <thead>
        <tr>
            <th class="table-header">STT</th>
            <th class="table-header">Mã học sinh</th>
            <th class="table-header">Họ tên</th>
            <th class="table-header score-15min-header">Điểm 15’
                <button type="button" id="add-15min-btn" class="btn btn-sm btn-primary">+</button>
                <button type="button" id="remove-15min-btn" class="btn btn-sm btn-danger">-</button>
            </th>
            <th class="table-header score-test-header">Điểm 1 tiết
                <button type="button" id="add-test-btn" class="btn btn-sm btn-primary">+</button>
                <button type="button" id="remove-test-bt    `n" class="btn btn-sm btn-danger">-</button>
            </th>
            <th class="table-header">Điểm thi</th>
        </tr>
        </thead>

        <tbody id="student-rows">
        {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endif %}
        {% for s in students %}
        <tr>
            <td class="table-cell">{{ loop.index }}</td> <!-- Hiển thị STT -->
            <td class="table-cell">{{ s.id }}</td>
            <td class="table-cell">{{ s.name }}</td>
            <td class="table-cell score-15min-container">
                <input type="number" class="input-cell" id="score-15min" placeholder="Điểm 15’" min="0"
                       max="10">
            </td>
            <td class="table-cell test-container">
                <input type="number" class="input-cell test-score" placeholder="Điểm 1 tiết" min="0" max="10">
            </td>
            <td class="table-cell"><input type="number" class="input-cell exam-score" placeholder="Điểm thi"
                                          min="0" max="10"></td>
        </tr>
        {% endfor %}
        </tbody>

    </table>

</div>


</div>
<script src="{{ url_for('static', filename='js/Teacher/EnterPoints.js') }}"></script>
{% endblock %}




