<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %}Trang chính{% endblock %}</title>
    {% block css %}
    <!--CSS tại đây-->
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Header -->
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)">Administrator</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('report')}}">Báo cáo thống kê</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('rule')}}">Chỉnh sửa quy định</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Link</a>
                    </li>
                </ul>
                  <!-- Chuyển Đăng xuất qua phải -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link logout-btn" href="javascript:void(0)">Đăng xuất</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Nội dung động -->
<main>
    {% block content %}

    {% endblock %}
</main>

<!-- Footer -->

</body>
<footer class="custom-footer">
    <p>&copy; 2024 - Quản lý học sinh</p>
</footer>
</html>
