{% extends 'Administrator/base.html' %}

{% block title %}
Quản lý dạy học
{% endblock %}

{% block css%}
<link href="{{ url_for('static', filename='css/Administrator/TeachManagement.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="alert alert-{{ messages[0][0] }} alert-dismissible fade show" role="alert">
    {{ messages[0][1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endwith %}

<div class="container mt-5">
    <h2 class="text-center">Quản lý Giáo viên - Lớp dạy</h2>
    <form action="/Administrator/TeachManagement" method="POST">
        <div class="text-end mt-3 mb-2">
            <button type="submit" class="btn btn-success">Lưu thay đổi</button>
        </div>
        <div class="table-container-wrapper">
            <div class="table-container">
                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col style="width: 10%;">
                        <col style="width: 50%;">
                        <col style="width: 20%;">
                        <col style="width: 20%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên Giáo viên</th>
                        <th>Lớp đang dạy</th>
                        <th>Thêm lớp</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for teacher in teachers %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            {{ teacher.name }}
                            {% if teacher.subject_teacher.subjectName %}
                            [{{teacher.subject_teacher.subjectName}}]

                            {%else%}
                            [<em>Chưa có môn dạy</em>]
                            {%endif%}

                        </td>
                        <td>
                            {% if teacher.teaches %}
                            <ul>
                                {% for teach in teacher.teaches %}
                                <li class="mt-1">
                                    {{ teach.class_teach.className }}
                                    <button type="submit" name="remove_class_{{ teach.id }}"
                                            class="btn btn-danger btn-sm">
                                        Xóa
                                    </button>
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <em>Chưa dạy lớp nào</em>
                            {% endif %}
                        </td>
                        <td>
                            <select class="form-select" name="add_class_{{ teacher.id }}">
                                <option value="">Chọn lớp</option>
                                {% for classroom in classes %}
                                <option value="{{ classroom.id }}">{{ classroom.className }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="table-container">
                <!--                <h3 class="text-center">Danh sách các lớp học và Giáo viên</h3>-->
                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col style="width: 10%;">
                        <col style="width: 20%;">
                        <col style="width: 70%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên Lớp</th>
                        <th>Giáo viên</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for classroom in classes %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ classroom.className }}</td>
                        <td style="text-align:left;">
                            {% if classroom.teaches %}
                            <ul>
                                {% for teach in classroom.teaches %}
                                <li>{{loop.index}}. {{ teach.teacher_teach.name }}
                                    {% if teach.teacher_teach.subject_teacher.subjectName %}
                                    [{{teach.teacher_teach.subject_teacher.subjectName}}]

                                    {%else%}
                                    <em>Chưa có môn dạy</em>
                                    {%endif%}
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <em>Chưa có giáo viên</em>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/Administrator/TeachManagement.js') }}"></script>
{% endblock %}
