<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trang chủ{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <!-- Menu Block -->
    {% block menu %}
        <!-- Đây là nơi menu.html sẽ được include -->
    {% endblock %}

    <!-- Content Block -->
    <div class="container">
        {%block studentform%}
        {%endblock%}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>