<div id="header_div">
    <nav class="navbar navbar-expand-sm navbar-dark custom-bg">
        <div class="container-fluid">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </nav>
    <div class="sub_head_div">
        <h1>Nhân Viên Quản Lý</h1>
    </div>
    <!-- Offcanvas Sidebar -->
    <div class="offcanvas offcanvas-start" id="demo">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
            <a class="nav-link logout-btn" href="{{url_for('logout')}}"><i class="fa-solid fa-right-from-bracket"></i></a>
            <h1 class="staff-name"><a href="{{ url_for('info_user') }}">{{current_user.name}}</a></h1>
            <h1 class="staff-mail">{{current_user.email}}</h1>

        </div>
        <div class="offcanvas-body">
            <a href="{{url_for('staff')}}">
                Tiếp Nhận Học Sinh
            </a>
            <a href="{{url_for('student_edit')}}">
                Chỉnh Sửa Thông Tin Học Sinh
            </a>
            <a href="{{url_for('class_edit')}}">
                Quản Lý Lớp Học
            </a>
        </div>
    </div>
</div>