<div id="header_div">
    <nav class="navbar navbar-expand-sm navbar-dark custom-bg">
        <div class="container-fluid">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </nav>
    <div class="sub_head_div">
        <h1>Chỉnh Sửa Học Sinh</h1> 
    </div>
    <!-- Offcanvas Sidebar -->
    <div class="offcanvas offcanvas-start" id="demo">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
            <a href="#" class="logout-btn"><i class="fa-solid fa-right-from-bracket"></i></a>
            <span class="offcanvas-title" id="offcanvas-title-1" >Trung Học Phổ Thông</span>
            <h1 class="staff-name">staff1</h1>
            <h1 class="staff-mail">staff1@gmail.com</h1>

        </div>
        <div class="offcanvas-body">
            <a href="{{url_for('staff')}}">
                Tiếp Nhận Học Sinh
            </a>
            <a href="{{url_for('class_edit')}}">
                Quản Lý Lớp Học
            </a>
        </div>
    </div>
</div>