<!DOCTYPE html>
{% extends "staff/base.html" %}
<html lang="vi">
<head>
    {% block privateCss %}
    <title>Quản Lý Lớp Học</title>
    <link href="{{ url_for('static', filename='css/staff/staff.css') }}" rel="stylesheet">
    {%endblock%}
</head>
<body>
    {%block menu%}
        {%include 'staff/menu.html'%}
    {%endblock%}
    {% block content %}
    <div class="container">
        <h2>Tiếp nhận học sinh</h2>
        <!-- Phần 1: Tiếp nhận học sinh -->
        <section class="input-students">
            <form id="student-form" method="post" action="{{ url_for('staff') }}">
                {%block studentform%}
                    {%include 'staff/student-form.html'%}
                {%endblock%}
                <div class="btn-add-student">
                    <button type="submit" id="add-student">
                        <span>Hoàn Tất</span>
                    </button>
                </div>
            </form>
            <form class="logo">
                <div class="img-logo">
                    <img src="../../static/images/Logo_THPT_Chu_Van_An.jpg" alt="pic">
                </div>
            </form>
        </section>
    </div>
    {% endblock %}
</body>
</html>
