<form id="student-form">
    <label for="name">Họ và tên:</label>
    <input type="text" id="name" name="name" required>

    <label for="dob">Ngày sinh:</label>
    <input type="date" id="dob" name="dob" required>

    <label for="gender">Giới tính:</label>
    <select id="gender" name="gender">
        <option value="Nam">Nam</option>
        <option value="Nữ">Nữ</option>
    </select>

    <label for="address">Địa chỉ:</label>
    <input type="text" id="address" name="address" required>

    <label for="phone">Số điện thoại:</label>
    <input type="tel" id="phone" name="phone" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email">

    <label for="class">Lớp:</label>
    <select id="class" name="class">
        <option value="1">10C1</option>
        <option value="2">11C2</option>
        <option value="3">12C3</option>
    </select>

    <div class="btn-add-student">
        {% block buttonContent %}
        <button type="button" id="add-student">
            <span>Hoàn Tất</span>
        </button>
        {% endblock %}
    </div>
</form>