<!DOCTYPE html>
{% extends "staff/base.html" %}
<html lang="vi">
<head>
    {% block privateCss %}
        <title>Quản Lý Học Sinh</title>
        <link href="{{ url_for('static', filename='css/staff/Student-manage.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block menu %}
        {% include 'staff/menu.html' %}
    {% endblock %}
    {% block content %}
    <div class="container">
    <h2>{{ student.name }}</h2>
    <section class="input-students">
    <form id="student-form" action="{{ url_for('update_student', student_id=student.id) }}" method="POST">
        {% include 'staff/student-form.html' %}
        <div class="btn-add-student">
            <button type="submit" id="add-student">
                <span>Hoàn Tất</span>
            </button>
        </div>
    </form>
</section>
</div>
{% endblock %}
</body>
</html>